<div class="row title">
	 <div class="col-md-3"></div>
	 <div class="col-md-6">
		<h1 class="pgtitle">All Upcoming Shows</h1>
	 </div>
	 <div class="col-md-3"></div>
</div>
<div class="row">
	 <div class="col-md-3"></div>
	 <div class="col-md-6">
		<ul class="list">
		  <% @events.each do |event| %>
		    <li><%= event.band.name %> is playing at <%= event.venue.name %> on <%= event.date %></li>
		  <% end %>
		</ul>
	 </div>
	 <div class="col-md-3"></div>
</div>
<div class="row">
	 <div class="col-md-3"></div>
	 <div class="col-md-6">
	 	<div class="center">
		 	<%= will_paginate @events %>
		</div>
	 </div>
	 <div class="col-md-3"></div>
</div>