<div class="row title">
   <div class="col-md-3"></div>
   <div class="col-md-6">
    <h1 class="pgtitle">New Event for <%= @venue.name %></h1>
   </div>
   <div class="col-md-3"></div>
</div>
<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
    <div class="center">
      <%= render "event_form" %>
    </div>
   </div>
   <div class="col-md-3"></div>
</div>
<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">
    <div class="center">
      <%= link_to "Return to Main Menu", root_path %>
    </div>
   </div>
   <div class="col-md-3"></div>
</div>
